<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{{ page_title }}{% if current_tags %} &ndash; {{ 'general.meta.tags' | t: tags: current_tags | join: ', ' }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>
<body data-template="{{ template | replace: '.', '-' }}">

  <a class="skip-link" href="#MainContent">{{ 'accessibility.skip_to_text' | t }}</a>

  {% sections 'announcement-group' %}
  {% section 'header' %}

  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  {% render 'cart-drawer' %}

  <script src="{{ 'theme.js' | asset_url }}" defer></script>
</body>
</html>
